* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .blur{
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: black;
  opacity:0.4;
} */

.container {
  font-family: "Lato", sans-serif;
}

#foto {
  opacity: 0.7;
}

#paragraf {
  opacity: 0.85;
}

* p {
  line-height: 1.5rem;
}

.header {
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px); /* Bulanıklık efekti */
}

.header p {
  font-size: 1.8rem;
  background-color: black;
  color: white;
  padding: 30px 20px;
  border-radius: 20px 0 20px 0;
  outline-offset: 8px;
  outline: 5px inset purple;
  letter-spacing: 8px;
  line-height: 0.6rem;
}

.fullstack {
  background-color: rgb(241, 241, 241);
  text-align: center;
  padding: 11px;
}

.fullstack p {
  padding: 20px;
  font-size: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  box-sizing: border-box;
}

.body {
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.body img {
  width: 23vw;
  height: 9vh;
}

.aws {
  background-color: #090d12;
  color: rgb(218, 208, 208);
  text-align: center;
  padding: 25px;
  font-size: 10px;
}

.aws p {
  padding: 1px;
}

.reinvent {
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.reinvent p {
  font-size: 25px;
  background-color: black;
  color: white;
  padding: 15px 7px;
  border-radius: 15px 0 15px 0;
  outline-offset: 5px;
  outline: 4px inset purple;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.data {
  background-color: rgb(241, 241, 241);
  color: #666;
  text-align: center;
  padding: 10px;
}

.data p {
  background-color: #f5f5f6;
  text-align: center;
  padding: 20px;
  font-size: 10px;
}

.team {
  background-image: url(./img/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.team p {
  font-size: 25px;
  background-color: black;
  color: white;
  padding: 11px 6px;
  border-radius: 10px 0 10px 0;
  outline-offset: 3px;
  outline: 3px inset purple;
  font-family: sans-serif;
  letter-spacing: 6px;
}

.why {
  background-color: #16191d;
  color: rgb(218, 208, 208);
  text-align: center;
  padding: 8px;
}
.why h2 {
  font-size: 14px;
  margin-top: 2.6rem;
}

.why p {
  font-size: 9px;
  padding: 20px;
}

.future {
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.future p {
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 20px 10px;
  border-radius: 15px 0 15px 0;
  outline-offset: 8px;
  outline: 5px inset purple;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
}
