* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .blur{
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: black;
  opacity:0.4;
} */

.container {
  font-family: sans-serif;
}

#foto {
  opacity: 0.7;
}

#paragraf {
  opacity: 0.85;
}

* p {
  line-height: 1.6rem;
}

.header {
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px); /* Bulanıklık efekti */
}

.header p {
  font-size: 3rem;
  background-color: black;
  color: white;
  padding: 47px 35px;
  border-radius: 35px 0 35px 0;
  outline-offset: 15px;
  outline: 8px inset purple;
  letter-spacing: 8px;
}

.fullstack {
  background-color: rgb(241, 241, 241);
  text-align: center;
  padding: 60px;
  opacity: 0.7;
}

.fullstack p {
  padding: 20px;
  font-size: 16px;
  opacity: 0.7;
}

.body {
  background-image: url(./img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}

.body img {
  width: 30vw;
}

.aws {
  background-color: rgb(0, 0, 0);
  color: rgb(218, 208, 208);
  text-align: center;
  padding: 60px;
}

.aws p {
  padding: 20px;
}

.reinvent {
  background-image: url(./img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.reinvent p {
  font-size: 3rem;
  background-color: black;
  color: white;
  padding: 30px 20px;
  border-radius: 20px 0 20px 0;
  outline-offset: 5px;
  outline: 7px inset rgb(116, 37, 149);
  font-family: sans-serif;
  letter-spacing: 5px;
}

.data {
  background-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 60px;
  opacity: 0.7;
}

.data p {
  background-color: #f5f5f6;
  text-align: center;
  padding: 20px;
  opacity: 0.7;
}

.team {
  background-image: url(./img/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.team p {
  font-size: 3rem;
  background-color: black;
  color: white;
  padding: 30px 20px;
  border-radius: 20px 0 20px 0;
  outline-offset: 5px;
  outline: 7px inset rgb(116, 37, 149);
  font-family: sans-serif;
  letter-spacing: 5px;
}

.why {
  background-color: black;
  color: rgb(218, 208, 208);
  text-align: center;
  padding: 60px;
}

.why p {
  font-size: 16px;
  line-height: 29px;
  padding: 20px;
}

.future {
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.future p {
  font-size: 3rem;
  background-color: black;
  color: white;
  padding: 50px 35px;
  border-radius: 40px 0 40px 0;
  outline-offset: 20px;
  outline: 7px inset rgb(116, 37, 149);
  font-family: sans-serif;
  letter-spacing: 5px;
}
